.user-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 1rem;
  padding: 0 8px;
}

.buttons {
  gap: 25px;
}

.orientation {
  flex: 1 1 auto;
  max-width: 75%;
  justify-self: flex-start;
  align-self: stretch;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;

  b {
    font-weight: 500;
  }
}

.buttons {
  justify-content: space-between;
}
.movie-card img {
  max-width: 15rem;
  min-width: 10rem;
  height: auto;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.fav-movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  justify-content: space-evenly;
  align-content: space-between;
  gap: 1rem;
  padding: 10px 25px;
}

.movie-card {
  flex: 1 1;
  padding: 5px 5px;
  align-items: center;
  width: 300px;
  height: auto;
}
mat-card::after {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(0.1px);
}

.movie-title {
  background-color: darken(#fff, 4);
}

h1 {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 34px;
  font-weight: 100;
  text-transform: uppercase;
  background-color: darken(#fce4ec, 5);
  padding: 20px 0;
  b {
    font-weight: 800;
  }
}
