<!-- src/app/profile-view/profile-view.component.html -->
<app-nav-bar></app-nav-bar>
 <div class="user-info">
  <mat-card appearance="raised" class="orientation mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>Profile Page and Basic Orientation</mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <p>Hello, {{user.username | titlecase }}!</p>
    <p>Welcome to CineDataDB...an app for learning about the best films.</p>
    <p>On the main page, click the heart to add a movie to your favorites.</p>
    <p>Here you can view and update your information. Or delete your account.</p>
    <p>Click on the "Update" button to change your username, password, email, or birthdate.</p>
    <p>Click on the "Delete" button to remove your account from the database.</p>
    <p>Scroll down to see your set of favorite films!</p>
  </mat-card-content>
  </mat-card>
<mat-card appearance="raised" class="user-card mat-elevation-z5">
  <img mat-card-image width="300" height="300" src="https://placehold.co/300x300/pink/white?text={{user.username | uppercase }}">
  <mat-card-content>
    <p><b>Email:</b></p>
    <p> {{user.email}}</p>
    <p><b>Birthday:</b></p>
    <p>{{user.birthdate | date: 'longDate' }}</p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <button mat-raised-button color="primary" (click)="openUpdateUserDialog()">Update</button>
    <button mat-raised-button color="warn" (click)="deleteUser()">Delete</button>
  </mat-card-actions>
</mat-card>

 </div>
  <h1>Here are your Favorite Movies</h1>
 <app-movie-card [filteredFaves]="true"></app-movie-card>
