<!-- src/app/profile-view/profile-view.component.html -->

 <div class="user-info">
  <mat-card class="orientation"><mat-card-header><mat-card-title>Welcome to Your Profile Page!</mat-card-title></mat-card-header><mat-card-content></mat-card-content></mat-card>
          <mat-card class="user-card">
          <img mat-card-image width="300" height="300" src="https://placehold.co/300x300/pink/white?text=cineData+User">
          <mat-card-header class="profile-card-header">
              <mat-card-title>Hello, {{user.username}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <p>Email: {{user.email}}</p>
              <p>Birthday: {{user.birthdate | date: 'longDate' }}</p>
          </mat-card-content>
          <mat-card-actions class="buttons">
              <button mat-raised-button color="primary" (click)="openUpdateUserDialog()">Update</button>
              <button mat-raised-button color="warn" (click)="deleteUser()">Delete</button>
          </mat-card-actions>
      </mat-card>

 </div>
  <h1>Here are your Favorite Movies</h1>
  <div class="fav-movies">
        @for(movie of favoriteMovies; track movie._id; let idx=$index ) {
      <mat-card class="movie-card" appearance="raised" >
          <mat-card-title-group style="display: block;">
          <mat-card-title class="movie-title" style="text-align: center;"> @if(movie.title[20]){ {{ movie.title.slice(0,19).concat('...') | uppercase}} } @else{ {{ movie.title | uppercase }} } </mat-card-title>
          <mat-card-subtitle style="margin-left: 10px;">{{movie.releaseDate}}</mat-card-subtitle>
          </mat-card-title-group>
          <img mat-card-image src="{{movie.imagePath}}" alt="{{movie.title}}" loading="lazy"/>
          <mat-card-actions mat-ripple [matRippleRadius]="45" [matRippleUnbounded]="true" style="gap: 2px;">
              <button
                  mat-raised-button
                  color="primary"
                  (click)="getGenre(movie)"
              >
                  Genre
              </button>
              <button
                  mat-raised-button
                  color="primary"
                  (click)="getDirector(movie)"
              >
                  Director
              </button>
              <button
                  mat-raised-button
                  color="primary"
                  (click)="getSynopsis(movie)"
              >
                  Synopsis
              </button>
              <mat-icon style="cursor: pointer; color: red;" (click)="toggleFavoriteMovie(movie)">@if(isFavoriteMovie(movie)){ {{fav}} } @else{ {{notFav}} }</mat-icon>
          </mat-card-actions>
      </mat-card>}
      @empty {
          <div class="loading">
              <mat-progress-bar mode="buffer"></mat-progress-bar>

          <h1 class="loading_message">You haven't added any favorite movies yet.</h1>
             <mat-progress-bar mode="buffer"></mat-progress-bar>
         </div>
          }
  </div>
