<!-- src/app/movie-card/movie-card.component.html -->
<app-nav-bar *ngIf="!filteredFaves"></app-nav-bar>
<div class="movie-container">
   @for(movie of movies; track movie._id; let idx=$index ) {
    <mat-card class="movie-card mat-elevation-z8" appearance="raised" >
        <mat-card-title-group style="display: block;">
        <mat-card-title style="text-align: center;">{{ movie.title | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{movie.releaseDate}}</mat-card-subtitle>
        </mat-card-title-group>
        <img mat-card-image src="{{movie.imagePath}}" alt="{{movie.title}}" loading="lazy" />
        <mat-card-actions mat-ripple [matRippleRadius]="45" [matRippleUnbounded]="true" style="gap: 2px;">
            <button
                mat-raised-button
                color="primary"
                (click)="getGenre(movie)"
            >
                Genre
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="getDirector(movie)"
            >
                Director
            </button>
            <button
                mat-raised-button
                color="primary"
                (click)="getSynopsis(movie)"
            >
                Synopsis
            </button>
            <mat-icon style="cursor: pointer; color: red;" (click)="toggleFavoriteMovie(movie)">@if(isFavoriteMovie(movie)){ {{fav}} } @else{ {{notFav}} }</mat-icon>
        </mat-card-actions>
    </mat-card>}
    @empty {
      @if (filteredFaves){
          <div class="loading">
          <h1 class="no_fav_message">You haven't added any favorite movies yet.</h1>

         </div>
          }
          @else {
        <div class="loading">
            <mat-progress-bar mode="buffer"></mat-progress-bar>

        <h1 class="loading_message">Movies are still loading. <b>Thank you</b> for your patience.</h1>
           <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>
          }
          }
</div>
