.navbar {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 10px 10px;
  z-index: 2;
  gap: 5px;
}
.navbar span {
  flex: 1 1 auto;
}

.nav-icon-button {
  transform: scale(1.1);

  &:hover {
    transform: scale(1.4);
  }
}
