.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 10px 10px;
  gap: 5px;
  z-index: 1000;
}
.navbar span {
  flex: 1 1 auto;
}

.nav-icon-button {
  transform: scale(1.25);
}
