// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.main-page {
  margin: 45svh auto;
  inset: 0;
  max-width: fit-content;
}
