<div class="main-page">
     <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
<div class="page">
  <h1>
    Welcome! Sign up or log in.
  </h1>
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800"><defs><linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="nnneon-grad"><stop stop-color="#0b6b13" stop-opacity="1" offset="0%"></stop><stop stop-color="#fb8aa4" stop-opacity="1" offset="100%"></stop></linearGradient><filter id="nnneon-filter" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
	<feGaussianBlur stdDeviation="20 21" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter><filter id="nnneon-filter2" x="-100%" y="-100%" width="400%" height="400%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
	<feGaussianBlur stdDeviation="10 17" x="0%" y="0%" width="100%" height="100%" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter></defs>
        <g stroke-width="25" stroke="url(#nnneon-grad)" fill="none"><circle r="194" cx="400" cy="400" filter="url(#nnneon-filter)"></circle><circle r="194" cx="513" cy="400" filter="url(#nnneon-filter2)" opacity="0.31"></circle><circle r="194" cx="287" cy="400" filter="url(#nnneon-filter2)" opacity="0.31"></circle><circle r="194" cx="400" cy="400"></circle></g><foreignObject x="0" y="45%" width="100%" height="100%">
      <div xmlns="http://www.w3.org/1999/xhtml" style="font-size: 5rem; color: white; text-align: center; z-index: 9999; font-weight: 800; letter-spacing: 3.3cqw; text-shadow: #ffe6eeff 1px 0 3px; ">cineDataDB</div>
    </foreignObject></svg>
      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        color="primary"
      >
        Sign Up
      </button>
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        color="primary"
      >
        Login
      </button>
</div>
</div>